* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header-container {
    background-color: rgb(231, 228, 228);
}
.title-container {
    padding-top: 50px;
    text-align: center;
}
.title-container h1 {
    font-size: 40px;
    letter-spacing: 7px;
}
.title-container a, li {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
.title-menu {
    margin-top: 50px;
    background-color: rgb(239, 237, 237);
    height: 50px;
}
.title-menu ul {
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    list-style: none;
}
.title-menu li:hover {
    transform: scale(1.5);
    transition: all 0.7s;
    color: black;
}
.title-menu a:hover {
    color: black;
}
@media (min-width:320px) and (max-width: 900px) {
    .title-container {
        margin-top: 0px;
        text-align: center;
    }
    .title-container h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .title-menu {
        display: none;
    }
}

/* ハンバーガー */
.humbuger {
    display: none;
}
.humbuger-menu {
    display: none;
}
@media (min-width:320px) and (max-width: 900px) {
    .humbuger {
        display: block;
        position: fixed;
        top: 40px;
        right: 15px;
        z-index: 30;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: rgb(7, 7, 7);
        margin-top: 5px;
        transition: all 0.7s;
    }
    .spin {
        transform: rotate(270deg);
    }
    .humbuger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: -500px;
        height: 100%;
        width: 100%;
        margin-top: -100px;
        background-color: white;
    }
    .humbuger-menu li {
        list-style: none;
        margin-top: 40px;
    }
    .humbuger-menu a {
        font-size: 30px;
    }
    .humbuger-show {
        right: 0px;
        transition: all 0.7s;
    }
}

/* sns */
.sns-menu {
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background-color: white;
}
.sns {
    margin-top: 100px;
}
.sns a {
    font-size: 30px;
}
.sns li, a {
    list-style: none;
    margin-top: 50px;
}
.fa-instagram:hover {
    color: purple;
}
.fa-facebook:hover {
    color: blue;
}
.fa-twitter:hover {
    color: skyblue;
}
.fa-youtube:hover {
    color: red;
}
.sns-show {
    right: 0px;
    transition: right 0.7s;
}

/* sns */


.main-title h1 {
    position: relative;
    top: -500px;
    text-align: center;
    letter-spacing: 60px;
    font-size: 60px;
    color: rgb(159, 159, 159);
    text-shadow: 2px 2px rgb(243, 242, 242);
}
.sub-title {
    text-align: center;
    margin-top: -450px;
}
.sub-title h1 {
    font-size: 40px;
    letter-spacing: 3px;
}
.sub-title h2 {
    display: none;
}

@media (min-width:320px) and (max-width: 900px) {
    .main-title h1 {
        position: relative;
        top: -220px;
        text-align: center;
        letter-spacing: 20px;
        font-size: 20px;
        color: rgb(159, 159, 159);
        text-shadow: 2px 2px rgb(243, 242, 242);
    }
    .main-title img {
        width: 100%;
        height: 260px;
    }
    .sub-title {
        text-align: center;
        margin-top: -170px;
    }
    .sub-title h1 {
        display: none;
    }
    .sub-title h2 {
        font-size: 15px;
        letter-spacing: 3px;
        line-height: 30px;
    }
}

.map {
    text-align: center;
    margin-top: 450px;
}
.map-title {
    margin-bottom: 200px;
}
.map-title h1 {
    font-size: 50px;
    margin: 60px;
    color: gray;
    text-shadow: 2px 2px rgb(189, 188, 188);
}
.map-title article {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 70px;
}
.map-title nav {
    display: none;
}
.map img {
    border-radius: 30px;
}
.capital {
    position: relative;
    top: -350px;
    left: 350px;
}
.volcano {
    position: relative;
    top: -280px;
    left: 350px;
}
.hotspring {
    position: relative;
    top: -200px;
    left: 400px;
}
.waterfall {
    position: relative;
    top: -150px;
    left: 310px;
}
.scogafas {
    position: relative;
    top: -220px;
    left: 320px;
}
.hill {
    position: relative;
    top: -150px;
    left: 280px;
}
.diamond {
    position: relative;
    top: -250px;
    left: 300px;
}
.plane {
    position: relative;
    top: -100px;
    left: 250px;
}
.ice {
    position: relative;
    top: -260px;
    left: 230px;
}
.iceland {
    border-radius: 10px;
}
.iceland:hover {
    transform: scale(4.0);
    transition: all 0.7s;
}
@media (min-width:320px) and (max-width: 900px) {
    .map-title {
        margin-bottom: 80px;
    }
    .map img {
        display: none;
    }
    .map-detail {
        display: none;
    }
    .map-title h1 {
        font-size: 25px;
        margin-top: -420px;
        color: gray;
        text-shadow: 1px 1px rgb(189, 188, 188);
    }
    .map-title article {
        display: none;
    }
    .map-title nav {
        display: block;
        margin: 0 25px;
        font-size: 15px;
        letter-spacing: 3px;
        line-height: 50px;
    }
}

.selection {
    display: none;
}
@media (min-width:320px) and (max-width: 900px) {
    .selection {
        display: block;
        margin-top: -30px;
    }
    .selection-detail {
        display: flex;
        justify-content: center;
    }
    .selection li {
        font-size: 30px;
        color: rgb(184, 182, 182);
        list-style-type: none;
        text-shadow: 1px 1px rgb(189, 188, 188);
        margin-top: 10px;
    }
}

.intro {
    text-align: center;
    margin-top: 180px;
}
.intro-title {
    color: rgb(159, 159, 159);
    text-shadow: 1px 1px rgb(163, 161, 161);
}
.intro-title h1 {
    font-size: 50px;
    letter-spacing: 5px;
}
.intro-title h2 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 20px;
}
.intro-detail li {
    margin: 0 100px;
    margin-top: 100px;
    border-top: 1px solid gray;
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    list-style: none;
} 
.intro-detail article {
    font-size: 20px;
    line-height: 40px;
}
.intro-detail nav {
    display: none;
}
@media (min-width:320px) and (max-width: 900px) {
    .intro {
        text-align: center;
        margin-top: 100px;
    }
    .intro-title {
        color: rgb(159, 159, 159);
        text-shadow: 1px 1px rgb(163, 161, 161);
    }
    .intro-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .intro-title h2 {
        font-size: 25px;
        letter-spacing: 0px;
        margin-top: 10px;
    }
    .intro-detail li {
        margin: 0 20px;
        margin-top: 60px;
        border-top: 1px solid gray;
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .intro-detail article {
        display: none;
    }
    .intro-detail nav {
        display: block;
        margin: 0 30px;
    }
}

.travel {
    text-align: center;
    margin: 0 100px;
    margin-top: 200px;
}
.travel-title {
    font-size: 25px;
    letter-spacing: 3px;
    color: rgb(132, 131, 131);
    text-shadow: 1px 1px rgb(89, 89, 89);
}

.travel-detail h1 {
    font-size: 45px;
    letter-spacing: 3px;
    color: rgb(177, 177, 177);
    text-shadow: 1px 1px rgb(132, 132, 132);
}
@media (min-width:320px) and (max-width: 900px) {
    .travel {
        text-align: center;
        margin: 0 20px;
        margin-top: 100px;
    }
    .travel-title {
        font-size: 13px;
        letter-spacing: 0px;
        color: rgb(132, 131, 131);
        text-shadow: 1px 1px rgb(89, 89, 89);
    }
    
    .travel-detail h1 {
        font-size: 25px;
        letter-spacing: 3px;
        color: rgb(177, 177, 177);
        text-shadow: 1px 1px rgb(132, 132, 132);
        margin-top: 50px;
        border-top: gray 1px solid;
        padding-top: 20px;
    }
}
